* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #1e1e1e;
}

footer {
  background-color: #ec9d00;
  height: 4em;
  margin-top: 3em;
  text-align: center;
  padding-top: 4em;
}
