* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: linear-gradient(135deg, #1e1e1e 0%, #303030 100%);
}

footer {
  background-color: #ec9d00;
  height: 4em;
  text-align: center;
  text-align: center;
  font-size: 1em;
  padding: 2em;
}

footer img {
  height: 2em;
  margin-left: 0.25em;
}

.logosFooter {
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.logosFooter:hover {
  transform: scale(1.1);
}
.footerElements {
  padding-bottom: 0.25em;
}
