@media screen and (max-width: 767px) {
  .barreNav {
    display: none;
  }
}

header {
  display: flex;
  align-items: center;
  height: 10em;
}
.banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}
.bannerWrap {
  position: absolute;
  display: flex;
  gap: 8em;
}
header .h1-logo-container {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  color: white;
  margin-left: 1em;
}
header .logoImg {
  height: 4em;
  width: 6em;
  padding-left: 0.5em;
  filter: invert(1) brightness(2);
  margin-left: 2em;
}
header .burger-menu {
  background-color: transparent;
  border: none;
  font-size: 5rem;
  outline: none;
  border: none;
  color: white;
}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

.barreNav {
  padding-left: 2em;
}
.homeLink {
  padding-right: 1em;
  text-decoration: none;
  font-size: x-large;
  color: white;
  font-weight: bold;
}
.homeLink:hover {
  color: #ec9d00;
  font-weight: bold;
  font-size: 2rem;
}

@media screen and (max-width: 767px) {
  .barreNav {
    display: none;
  }
}

header {
  display: flex;
  align-items: center;
  height: 10em;
}
.banner {

  overflow: hidden;
  width: 100%;
  height: 100%;


}
.bannerWrap {
  position: absolute;
  display: flex;
  gap: 8em;
}
header .h1-logo-container {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  color: white;
  margin-left: 1em;
}
header .logoImg {
  height: 4em;
  width: 6em;
  padding-left: 0.5em;
  filter: invert(1) brightness(2);
  margin-left: 2em;
}
header .burger-menu {
  background-color: transparent;
  border: none;
  font-size: 5rem;
  outline: none;
  border: none;
  color: white;
}

@media screen and (min-width: 768px) {

  header {
    height: 20em;
  }
  .burger-menu {
    display: none;
  }
  header .h1-logo-container {
    flex-direction: row;
  }
  header .logoImg {
    height: 10em;
    width: 10em;
    margin-left: 50em;
  }
  .barreNav {
    margin-left: 15em;
    font-size: xx-large;
    position: absolute;
  }
  .homeLink {
    padding-right: 1em;
    text-decoration: none;
    font-size: x-large;
    color: white;
    font-weight: bold;
  }
  .homeLink:hover {
    color: #ec9d00;
    font-weight: bold;
    font-size: 2rem;
  }
}

  .burger-menu {
    display: none;
  }
}

.barreNav {
  padding-left: 2em;
}
.homeLink {
  padding-right: 1em;
  text-decoration: none;
  font-size: x-large;
  color: white;
  font-weight: bold;
}
.homeLink:hover {
  color: #ec9d00;
  font-weight: bold;
  font-size: 2rem;
}

